@model FastFoodWebApplication.Models.Dish

@{
    ViewData["Title"] = "Create";
    var defaultImg = "/images/f1.png";
}
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="">
        <title> Feane </title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/responsive.css" rel="stylesheet" />
</head>

<h1 style="margin-left: 100px">Create</h1>
<h4 style="margin-left: 100px">Dish</h4>
<hr />
<div class="row" style="margin-left: 100px">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishStatus" class="control-label"></label>
                <input asp-for="DishStatus" class="form-control" />
                <span asp-validation-for="DishStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishTypeId" class="control-label"></label>
                <select asp-for="DishTypeId" class="form-control" asp-items="ViewBag.DishTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DishPrice" class="control-label"></label>
                <input asp-for="DishPrice" class="form-control" />
                <span asp-validation-for="DishPrice" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="DishImage" class="control-label"></label>
                <input asp-for="DishImage" type="file" accept="image/*" onchange="loadFile(event)" class="form-control" name="image" />
                <img id="img"  src="@(Model?.DishImage??defaultImg)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left: 100px">
    <a asp-action="Index">Back to List</a>
</div>
<style>
    input[type=file] {
        display: none
    }

    #img {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border: 1px solid gray;
        min-width: 100px
    }
    .control-label{
        margin-top: 10px;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var loadFile = function (event) {
            var img = document.getElementById('img');
            img.src = URL.createObjectURL(event.target.files[0]);
            img.onload = function () {
                URL.revokeObjectURL(img.src) 
            }
        };

        $("#img").click(function () {
            $("input[type=file]").click();
        })
    </script>
}
