@model FastFoodWebApplication.Models.Dish

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">
    <title> Feane </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    
    <style>
        .header_section {
            background-color: black;
        }
        .detail-center{
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
    </style>
</head>
@{
    var image = "/images/f1.png";
    if (Model.DishImage != null)
    {
        string img = Model.DishImage.Replace("\\", "/");
        image = "/" + img;
    }
}
<div class="detail-center">
<div class="container">
        <div class="row justify-content-center">
        <div class="col-4">
            <img src="@image" style="width: 300px"></img>
        </div>
        <div class="col-6">
                <div class="container">
                    <h1>   @Html.DisplayFor(model => model.Name)</h1>
                </div>
              
                <div class="container" >
                    <div class="row justify-content-start ">
                        <div class="col-2">
                            <h5>Price:</h5>
                        </div>
                        <div class="col-6">
                            <h5 style="color: red">   @Html.DisplayFor(model => model.DishPrice)</h5>
                        </div>
                    </div>
                  

                </div>
                <div class="container">
                    <h5>   @Html.DisplayFor(model => model.Description)</h5>
                </div>

                
        </div>
    </div>
</div>
</div>